.titulo-h2 {
    color: red;
}

#id-element {
    color: gold
}

button:hover {
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 1);
}

[rancio="siu"] {
    margin-top: 40px;
    padding: 15px 90px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    background-color: aquamarine;
    transition: 350ms all ease;
}

h2 p {
    color: skyblue
}

h2 p b:hover {
    color: blue
}

.color-red {
    color: aquamarine
}

.contact-form__input--active {
    color: yellowgreen;
}

.contact-form__input {
    color: blueviolet;
}

.contact-form {
    font-size: 25px;
    background-color: purple;
    width: 50%;
}

.contact-form__h2 {
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    line-height: 2;
    font-weight: 200;
    font-stretch: normal;
    font-variant: normal;

    color: azure;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    background-color: beige;
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    border: 10px solid #a22;
    box-shadow: 20px 10px 10px 2px #000;
    text-shadow: 5px 6px 7px rgb(221, 0, 103);
    transform: rotate(-45deg);
}

.box1 {
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
    border: 10px solid blue;
    box-sizing: border-box;
}

.box2 {
    width: 200px;
    height: 200px;
    background: skyblue;
    margin: auto;
}