.titulo-h2 {
    color: red;
}

#id-element {
    color: gold
}

[rancio="siu"] {
    color: blueviolet;
}

h2 p {
    color: skyblue
}

h2 p b:hover {
    color: blue
}

.color-red {
    color: aquamarine
}

.contact-form__input--active {
    color: yellowgreen;
}

.contact-form__input {
    color: blueviolet;
}

.contact-form {
    font-size: 25px;
    background-color: purple;
    width: 50%;
}

* {
    padding: 0px;
    margin: 0px;
}

.contact-form__h2 {
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
    line-height: 2;
    font-weight: 200;
    font-stretch: normal;
    font-variant: normal;

    color: azure;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}